<!DOCTYPE html>
<html ng-app='ScrabbleApp'>
  <head>
    <title>Scrabble</title>
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='bower_components/angular/angular.js'></script>
    <script src='bower_components/jquery/dist/jquery.js'></script>
    <script src='/javascripts/angularApp.js'></script>
    <script src='secrets/secrets.js'></script>
    <script src='secrets/letters.js'></script>
    <script src='/javascripts/scrabbleController.js'></script>
  </head>
  <body ng-controller='ScrabbleController as scrbCtrl'>
    <p>Welcome to Scrabble</p>
    <input type='text' ng-model='scrbCtrl.input'>
    <button ng-click='scrbCtrl.giveWord()'>Click me</button>
    <div ng-model='scrbCtrl.points'>
      {{ scrbCtrl.points }}
    </div>
  </body>
</html>
