<!DOCTYPE html>
<html ng-app='ScrabbleApp'>
  <head>
    <title>Scrabble</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <script src='bower_components/angular/angular.js'></script>
    <script src='bower_components/jquery/dist/jquery.js'></script>
    <script src='bower_components/underscore/underscore.js'></script>
    <script src='src/app.js'></script>
    <script src='src/boardTileFactory.js'></script>
    <script src='src/gameFactory.js'></script>
    <script src='src/pointsFactory.js'></script>
    <script src='src/wordsFactory.js'></script>
    <script src='src/scrabbleController.js'></script>
    <script src='src/letters.js'></script>
    <script src='secrets/secrets.js'></script>
  </head>
  <body ng-controller='ScrabbleController as scrbCtrl' ng-init='scrbCtrl.setup()'>
    <center>
      <h1>Scrabble</h1>
    </center>
    <div class='container'>
      <div class="row">
        <div class="col-md-8">
          <div ng-repeat='letter in scrbCtrl.player1Letters track by $index' style="float:left">
            <img ng-class='scrbCtrl.showSelected($index)' id='letter-{{ letter.value }}' ng-src="/images/tiles/letter-{{ letter.value }}.png" height="60" ng-click='scrbCtrl.selectLetter($index)'>
          </div>
          <% include board %>
        </div>
        <div class="col-md-4">
          <button id='play-word' ng-disabled='scrbCtrl.input.length === 0' ng-click='scrbCtrl.playWord()'>Play Word</button>
          <button id='clear-word' ng-disabled='scrbCtrl.input.length === 0' ng-click='scrbCtrl.clear()'>Clear</button>
          <button ng-disabled='scrbCtrl.selected === null' ng-click='scrbCtrl.swapLetter()'>Swap Letter</button>
          <br>
          <div ng-model='scrbCtrl.points'>
            Total: {{ scrbCtrl.totalScore }}
          </div>
          <div ng-repeat='history in scrbCtrl.history | orderBy:"-"'>
            <li> {{ history.word }} - {{ history.definition }} - {{ history.points }} points</li>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
