<!DOCTYPE html>
<html ng-app='ScrabbleApp'>
  <head>
    <title>Scrabble</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <script src='bower_components/angular/angular.js'></script>
    <script src='bower_components/jquery/dist/jquery.js'></script>
    <script src='bower_components/underscore/underscore.js'></script>
    <script src='src/app.js'></script>
    <script src='src/boardTileFactory.js'></script>
    <script src='src/gameFactory.js'></script>
    <script src='src/wordsFactory.js'></script>
    <script src='src/scrabbleController.js'></script>
    <script src='src/letters.js'></script>
    <script src='secrets/secrets.js'></script>
  </head>
  <body ng-controller='ScrabbleController as scrbCtrl' ng-init='scrbCtrl.setup()'>
    <center>
      <h1>Scrabble</h1>
    </center>
    <div class='container'>
      <div class="row">
        <div class="col-md-8">
          <% include playerLetters %>
          <% include board %>
        </div>
        <div class="col-md-4">
         <% include dashboard %>
        </div>
      </div>
    </div>
  </body>
</html>
