<script type="text/ng-template" id="stuff">
  <div class="ngdialog-message">
    <h3>{{scrbCtrl.test}}</h3>
    <input type='text' size='1' ng-model='inputValue'/>
  </div>
  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(inputValue)">Confirm</button>
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
  </div>
</script>
