body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ready {
  opacity: 1;
}

.selected {
  opacity: 0.5;
}

.placed {
  opacity: 0.1;
}

.board-tiles-active {
  opacity: 1;
  height: 50px;
}

.board-tiles-inactive {
  opacity: 0.1;
  height: 50px;
}

.tg  {
  border-collapse:collapse;
  border-spacing:0;
}

.tg td {
  font-family:Arial, sans-serif;
  font-size:14px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  width:50px;
  height:50px;
 }

.tg th {
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
}